@CHARSET "UTF-8";
@media print {
	@page {size: 8.5in 14cm}
	* {border-style: none !important;padding: 0cm !important;font-size: small !important;font-weight: bold}
	.no-printable{display:none}
	.print-inline{display:inline;padding-right: 0.1cm !important}
	.print-block{display:block;padding-bottom: 1mm !important;padding-right: 0.1cm !important}
	.print-left{float:left}
	.print-right{float:right}
	.print-text-left{text-align:left}
	.print-text-right{text-align:right}
	.print-column-60{width:60%}
	.print-column-40{width:60%}
	.print-column-20{width:20%}
	.print-column-75{width:75%}
	.print-column-50{width:50%}
	.print-column-25{width:25%}
	.print-column-100{width:100%;clear: both}
}